{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Account Inactive | Gym Buddies</title>
    </head>
    <body>
    <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Account Inactive</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <section class="forum-page">
            <div class="container">
                <div class="forum-questions-sec text-center">
                    <h1>This account has been deactivated. You are no longer permitted to use the Site or its Services.</h1>
                    <br>
                    <p>To request reactivation, you can contact us through enquiries@nolancode.com</p>
                </div>
            </div>
        </section>
    </body>
</html>




