{% extends "base.html" %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Change Password</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="sign_in_sec" style="width: 80%; margin: 0 auto;">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form-errors">
                                        {% for key, value in form.errors.items %}
                                            <span class="fieldWrapper">
                                                {{ key }} : {{ value }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for field in form.visible_fields %}
                                {% if field.name == 'oldpassword' %}
                                    <input name="oldpassword" type="password" placeholder="Old password" class="mb-2">
                                {% elif field.name == 'password1' %}
                                    <input name="password1" type="password" placeholder="New password" class="mb-2">
                                {% else %}
                                    <input name="password2" type="password" placeholder="Password confirmation" class="mb-4">
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'account_reset_password' %}" class="view-more-pro">Forgot Password?</a>
                            <br>
                            <button type="submit" name="action">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
