{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<title>{% block title %}Password Changed{% endblock title %} | Gym Buddies</title>
	</head>
    <body>
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Password Changed</h2>
                        <br>
                        <div class="page_link">
                            <a href="{% url 'posts:index' %}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <section class="forum-page">
            <div class="container">
                <div class="forum-questions-sec">
                    <div class="row">
                        <div class="sign_in_sec" style="width: 80%; margin: 0 auto;">
                            <h1>Your password is now changed</h1>
                            <a href="{% url 'account_logout' %}" title="" style="color: #fff;"><button class="btn btn-primary mt-3" style="background-color: #04babd; border-color: #04babd;">Log in again</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>