{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Acknowledgements{% endblock %}

{% block content %}
<!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Acknowledgements</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-8 no-pd">
                            <div class="main-ws-sec">
                                <div class="posts-section">
                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'logo/combo-block.png' %}" alt="">
                                                <img src="{% static 'logo/avatar-crop.png' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-5">Artwork by <a href="https://www.instagram.com/enjoymydrawings/">Bernard Wun @enjoymydrawings</a></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/banner.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@risennnnn?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Risen Wang</a> on <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/abs.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@canadianmick?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Mick Brown</a> on <a href="https://unsplash.com/s/photos/abwheel-exercise?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/advanced.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@karsten116?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Karsten Winegeart</a> on <a href="https://unsplash.com/s/photos/advanced-level-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/aerobics.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@brucemars?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">bruce mars</a> on <a href="https://unsplash.com/s/photos/aerobics?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/arms.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@aloragriffiths?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alora Griffiths</a> on <a href="https://unsplash.com/s/photos/arms-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/back.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@echaparro?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Edgar Chaparro</a> on <a href="https://unsplash.com/s/photos/back-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/barre.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3">Image by <a href="https://pixabay.com/users/sobima-4218005/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5352228">sobima</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5352228">Pixabay</a></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/beginner.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@yulissatagle?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yulissa Tagle</a> on <a href="https://unsplash.com/s/photos/light-exercise?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/cardio.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@victorfreitas?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Victor Freitas</a> on <a href="https://unsplash.com/s/photos/cardio-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/circuit.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@gcowie?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Gordon Cowie</a> on <a href="https://unsplash.com/s/photos/advanced-level-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/competition.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@joshgmit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Joshua Golde</a> on <a href="https://unsplash.com/s/photos/podium?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/cool-down.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@yogendras31?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yogendra Singh</a> on <a href="https://unsplash.com/s/photos/cricket?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/crossfit.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@johnfo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">John Fornander</a> on <a href="https://unsplash.com/s/photos/advanced-level-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/cycling.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@simoncon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Simon Connellan</a> on <a href="https://unsplash.com/s/photos/cycling?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/extreme.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@fclaydon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Fionn Claydon</a> on <a href="https://unsplash.com/s/photos/rock-climbing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/fun.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/play-basketball?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/group-workout.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@inspiredhorizonsdigitalmarketing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Inspired Horizons Digital Marketing</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/gym.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@shuttch?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">gina lin</a> on <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/healthy-eating.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@jannisbrandt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jannis Brandt</a> on <a href="https://unsplash.com/s/photos/healthy-eating?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/hiit.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@chasekinney?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Chase Kinney</a> on <a href="https://unsplash.com/s/photos/hiit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/home-workout.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3">Image by <a href="https://pixabay.com/users/rob9040-3800981/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1840858">rob9040</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1840858">Pixabay</a></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/intermediate.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@shotsbywolf?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Geert Pieters</a> on <a href="https://unsplash.com/s/photos/intermediate-level-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/legs.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@scottwebb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Scott Webb</a> on <a href="https://unsplash.com/s/photos/legs-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/mma.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@justinng?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Justin Ng</a> on <a href="https://unsplash.com/s/photos/mma?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/pilates.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3">Image by <a href="https://pixabay.com/users/stevepb-282134/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2465478">Steve Buissinne</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2465478">Pixabay</a></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/shoulders.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@johnfo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">John Fornander</a> on <a href="https://unsplash.com/s/photos/shoulders-workout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/spin.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3">Image by <a href="https://pixabay.com/users/valkovav-4210846/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1962574">Александр Вальков</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1962574">Pixabay</a></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/supplements.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@kellysikkema?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Kelly Sikkema</a> on <a href="https://unsplash.com/s/photos/protein-shake?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/swimming.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@gentritbsylejmani?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Gentrit Sylejmani</a> on <a href="https://unsplash.com/s/photos/swimming?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/warm-up.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@matt909?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Shaw</a> on <a href="https://unsplash.com/s/photos/stretch?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/weight-lifting.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@victorfreitas?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Victor Freitas</a> on <a href="https://unsplash.com/s/photos/weight-lifting?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/yoga.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@jonathanborba?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonathan Borba</a> on <a href="https://unsplash.com/s/photos/yoga?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>

                                    <div class="card">
                                        <div class="card-body message-form-btns">
                                            <div class="usr_img">
                                                <img src="{% static 'images/cat-img/zumba.jpg' %}" alt="">
                                            </div>
                                            <div class="usr_quest">
                                                <h3 class="pt-3"><span>Photo by <a href="https://unsplash.com/@brucemars?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">bruce mars</a> on <a href="https://unsplash.com/s/photos/zumba?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></h3>
                                            </div><!--usr_quest end-->
                                        </div><!--usr-question end-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include 'right_side.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}