/* ==================================================================================
								Fonts
===================================================================================== */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/* ================================================================================== 
										Reset Css
===================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	background-color: #f2f2f2;
}
ol, ul {
	list-style: none;
}
a:hover {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #fff;
}
button {
	outline: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
section {
	float: left;
	width: 100%;
	position: relative;
}
img {
	float: left;
}
p {
	font-size: 14px;
	line-height: 24px;
	color: #666666;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e5e5e5 !important;
}

/* ================ CROSS BROWSER COMPATABILITY =============== */
img{
	max-width: 100%;
}
.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul,
.user-pro-img > a i {
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

/* ============== DEFAULT BORDER RADIUS =========== */

.ask-question,
.login_register ul li a,
.search-bar form input,
.search-bar form button,
.search_form form input,
.post-st ul li a,
.post-bar,
.bk-links li i,
.bid_now,
.user-profy ul li a,
.posty,
.comment_box form button,
.post-project-fields form input,
.post-project-fields form textarea,
.post-project-fields form select,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.signin-pop,
.sign-control,
.sign_in_sec form input,
.sign_in_sec form select,
.sign_in_sec form button,
.signup-tab,
.login-resources ul li a,
.flw-hr li a,
.message-btn a,
.user-profile-ov,
.portfolio-gallery-sec,
.overview-edit,
.overview-edit form textarea,
.overview-edit form input,
.overview-edit form select,
.overview-edit button,
.file-submit,
.billing-method,
.lt-sec > a,
.add-billing-method,
.payment_methods form button,
.payment_methods form input,
.company-up-info ul li a,
.search-box form input,
.filter-dd form input,
.filter-dd form select,
.conversation-box,
.save-stngs ul li button,
.cp-field input,
.cp-field textarea,
.accept-req,
.mf-field input,
.mf-field button,
.pagination li .page-link,
.post_comment_sec form textarea,
.post_comment_sec form button,
.next-prev > a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 3px;
}
.wrapper {
	float: left;
	width: 100%;
	position: relative;
}
.overlay:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 99;
}
header {
	float: left;
	width: 100%;
	background-color: #04babd;
}
.header-data {
	float: left;
	width: 100%;
}
.logo {
	float: left;
	width: 55px;
	margin-right: 14px;
	margin-top: 10px;
}
.logo.pd-btm {
	padding-bottom: 10px;
}
.forum-bar {
	float: left;
	margin-top: 10px;
	width: 400px;
}
.forum-bar h2 {
	float: left;
	margin-right: 40px;
}
.forum-bar ul {
	float: left;
	margin-top: 0px;
}
.ask-question {
	background-color: #fff;
	padding: 10px 25px;
	color: #04babd; !important;
	font-size: 14px;
	font-weight: 600;
}
.ask-question:hover {
	color: #04babd;
}
.forum-bar ul li {
	display: inline-block;
	margin-right: 40px;
}
.forum-bar ul li:last-child {
	margin-right: 0;
}
.forum-bar ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}
.forum-bar h2 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 500;
}

/* ========== login_register ========== */

.login_register {
	float: right;
	margin-top: 8px;
	padding-left: 30px;
}
.login_register ul li {
	display: inline-block;
	margin-right: 8px;
}
.login_register ul li:last-child {
	margin-right: 0;
}
.login_register ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: 600;
}
.search-bar.st2 {
	float: right;
}
.search-bar {
	float: left;
	width: 280px;
	margin-top: 9px;
}
.search-bar form {
	float: left;
	width: 100%;
	position: relative;
}
.search-bar form input {
	width: 100%;
	background-color: #fff;
	height: 38px;
	color: #b2b2b2;
	font-size: 12px;
	border: 0;
	padding: 0 10px;
}
.search-bar form button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #efefef;
	width: 38px;
	height: 100%;
	border: 0;
}
.search-bar form button i {
	color: #04babd;
	font-size: 20px;
	font-weight: bold;
}
nav {
	float: left;
	width: 60%;
	text-align: right;
	padding-right: 13px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	padding: 13px 13px;
	position: relative;
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #04babd;
	text-align: left;
	padding: 20px 0 10px 0; 
	opacity: 0;
	visibility: hidden;
	z-index: 999999;
}
nav ul ul li {
	padding: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding: 0 20px;
}
nav ul ul li a:hover {
	color: #fff;
}
nav ul ul li a {
	font-size: 16px;
}
nav ul li span {
	display: block;
	height: 14px;
}
nav ul li span img {
	float: none;
}
nav ul li a {
	color: #1f0642;
	font-size: 14px;
}
nav > ul > li > a:hover {
	color: #fff;
}
.user-account {
	float: right;
	width: 70px;
	box-sizing: border-box;
	position: relative;
}
.user-info {
	float: left;
	width: 100%;
	padding: 13px 10px;
	position: relative;
}
.user-account-settingss {
    position: absolute;
     opacity: 1;
    visibility: visible;
    z-index: 999;
    display: none;
	top: 100%;
	right: 0;
	width: 240px;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	/*opacity: 0;
	visibility: hidden;*/
}
.user-account-settingss.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.user-account-settingss > h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 20px;
}

/* =========== search_form =========== */

.search_form {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.search_form form {
	float: left;
	width: 100%;
	position: relative;
}
.search_form form input {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}
.search_form form button {
	color: #f2f2f2;
	font-size: 14px;
	background-color: #04babd;
	padding: 0 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	font-weight: 600;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

/* ============ us-links ============= */

.us-links {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}
.us-links li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.us-links li:last-child {
	margin-bottom: 0;
}
.us-links li a {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
}
.tc {
	text-align: center;
}
.tc a {
	color: #000;
}
.user-info img {
	margin-right: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.user-info a {
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top: 8px;
}
.user-info a:hover {
	color: #fff;
}
.user-info > i {
	position: absolute;
	top: 51%;
	right: 10px;
	color: #fff;
	font-size: 12px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
#randomQuote {
     color: #1f0642;
     font-size: 24px;
     font-style: italic;
}

/* Home Banner Area css
============================================================================================ */
.home_banner_area {
    position: relative;
    min-height: 600px;
}
.home_banner_area .banner_inner {
    position: relative;
    background: url('/static/images/banner.jpg') no-repeat scroll center center;
    min-height: 600px;
}
.home_banner_area .banner_inner .banner_content .date {
    margin-bottom: 25px;
}
.home_banner_area .banner_inner .banner_content .date a i {
    padding-right: 10px;
}
.home_banner_area .banner_inner .banner_content p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
}
.home_banner_area .banner_inner .banner_content h3 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
}
.blog_banner .banner_inner .blog_b_text h2 {
    font-size: 60px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
}
.blog_banner .banner_inner .blog_b_text p {
    font-size: 16px;
    margin-bottom: 35px;
}
.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    background: #000;
    z-index: 1;
}
.banner_area .banner_inner .overlay {
    background: url('/static/images/banner.jpg') no-repeat scroll center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 145%;
    bottom: 0;
    z-index: -1;
    opacity: 1;
}
.banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.banner_area .banner_inner .banner_content .page_link a {
    font-size: 14px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-right: 32px;
    position: relative;
}
.banner_area .banner_inner .banner_content .page_link a:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.banner_area .banner_inner .banner_content .page_link a:last-child {
    margin-right: 0px;
}
.banner_area .banner_inner .banner_content .page_link a:last-child:before {
    display: none;
}
.banner_area .banner_inner .banner_content .page_link a:hover {
    color: #04babd;
}

/* =================== main-section ================= */

main {
	float: left;
	width: 100%;
	padding: 60px 0;
}
.main-section {
	float: left;
	width: 100%;
}
.main-section-data {
	float: left;
	width: 100%;
}
.main-left-sidebar {
	float: left;
	position:relative;
	width: 100%;
	margin-top: -20px;
	z-index: 2;
}
.full-width {
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.username-dt {
	float: left;
	width: 100%;
	background-color: #04babd;
	padding-top: 40px;
}
.user-data {
	text-align: center;
}
.usr-pic {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: -48px;
}
.usr-pic > a > img {
	float: none;
	border: 5px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	width: 100%;
}
.user-profile {
	float: left;
	width: 100%;
}
.user-specs {
	float: left;
	width: 100%;
	padding: 63px 0 27px 0;
}
.user-specs h3 {
	color: #000000;
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 8px;
}
.user-specs span {
	color: #686868;
	font-size: 14px;
}
.user-fw-status {
	float: left;
	width: 100%;
}
.user-fw-status li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0;
}
.user-fw-status li:last-child {
	border-bottom: 0;
}
.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
	border-bottom: 0;
}
.user-fw-status li h4 a {
	color: #686868;
	font-size: 20px;
	margin: 10px;
}
.user-fw-status span {
	color: #000000;
	font-size: 20px;
}
.user-fw-status li a {
	color: #04babd;
	font-size: 14px;
	font-weight: 600;	
}

/* =================== main-ws-sec ================== */

.main-ws-sec {
	float: left;
	width: 100%;
}

/* ============ post-topbar =========== */

.post-topbar {
	float: left;
	width: 100%;
	padding: 23px 20px;
	background-color: #fff;
	border-top: 4px solid #04babd;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	box-shadow: 0 0 1px rgba(0,0,0,0.24);
	margin-bottom: 20px;
}
.post-topbar i {
    font-size: 38px;
    color: #1f0642;
}
.user-picy {
	float: left;
	width: 50px;
}
.user-picy img {
	width: 100%;
	object-fit: cover;
}
.post-links {
    display: flex;
    justify-content: space-between;
}
.post-st {
	float: right;
	margin-top: 5px;
}
.post-st ul li {
	display: inline-block;
	margin-right: 6px;
}
.post-st ul li:last-child {
	margin-right: 0;
}
.post-st ul li a {
	color: #b2b2b2;
	font-size: 16px;
	display: inline-block;
	background-color: #e5e5e5;
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	font-weight: 500;
}
.post-st ul li a:hover,
.post-st ul li a.active {
	background-color: #04babd;
	color: #fff;
}

/* ================ posts-section ================== */

.posts-section {
	float: left;
	width: 100%;
}
.reviewtext{
	margin: 0 -20px;
}
.reviewtext p{
	padding-left: 20px;
}
.post-bar {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0px 2px #e4e4e4;
}
.post_topbar {
	display: flex;
	justify-content: space-between;
}
.commenter {
    width: 100%;
	display: flex;
	justify-content: space-between;
}
.commenter img {
    height: 30px;
}
.commenter span {
    font-weight: 600;
    font-size: 14px;
}
.commenter p {
    display: inline-block;
    color: #b2b2b2;
}
.post-image-box,
.post-video-box {
    display: flex;
    justify-content: center;
    height: 350px;
}
@media only screen and (max-width: 2000px) {
    .post-image-box img {
        height: 100%;
        width: auto;
    }
}
.rep-post{
	padding: 0;
}
.usy-dt {
	float: left;
}
.usy-dt img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	margin-top: 2px;
}
.ed-opts > a {
	color: #b2b2b2;
    font-size: 24px;
}
.ed-options {
	position: absolute;
	top: 100%;
	right: 0;
	width: 130px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	box-shadow: 0 0 10px rgba(0,0,0,0.28);
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}
.ed-options.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
}
.ed-options li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.ed-options li:last-child {
	margin-bottom: 0;
}
.ed-options li a {
	color: #686868;
	font-size: 14px;
	font-weight: 600;
}
.ed-opts > a:hover {
	color: #04babd;
}
.usy-name {
	float: left;
	margin-left: 15px;
}
.usy-name h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 2px;
}
.usy-name h3 a {
    color: #000;
}
.usy-name h3 a:hover {
    color: #04babd;
}
.usy-name span {
	color: #b2b2b2;
	font-size: 14px;
}
.usy-name img {
	margin-top: 4px;
	margin-right: 6px;
}
.usy-name .bklink img {
    margin-top: 1px;
    margin-right: 6px;
}
.epi2 i {
    margin-right: 5px;
}
#rewivewdata .review-lt {
	float: left;
    margin-top: 5px;
    margin-bottom: 15px;
}
.review-lt img {
    margin-top: 1px;
    margin-right: 6px;
}
.bid-tab{
	margin-bottom: 20px;
}
.epi-sec {
	 float: left;
    width: 100%;
    padding: 0;
}
.usy-name .bklink {
    float: left;
    margin-top: 5px !important;
    margin-bottom: 15px;
}
.descp {
	float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.descp li {
	display: inline-block;
	margin-right: 15px;
}
.descp li span {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
}
.descp li img {
	margin-right: 5px;
}
.bk-links {
	float: right;
}
.bk-links li {
	display: inline-block;
	margin-right: 7px;
}
.bk-links li:last-child {
	margin-right: 0;
}
.bk-links li i {
	color: #fff;
	font-size: 24px;
	width: 33px;
	height: 30px;
	padding-left: 0px;
	background-color: #53d690;
	text-align: center;
	line-height: 30px;
}
 .bk-links li i.fa-trash{
	background-color: #e44d3a;
}
.bid_now {
	color: #fff;
	background-color: #51a5fb;
	text-transform: capitalize;
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	position: relative;
	top: -3px;
}
.bid_now:hover {
	color: #fff;	
}

/* ============== job_descp ============ */

.job_descp {
	float: left;
	width: 100%;
}
.job_descp h3 {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}
.job-dt {
	float: left;
	width: 100%;
	margin-bottom: 22px;
}
.job-dt li {
	display: inline-block;
	margin-right: 15px;
}
.job-dt li a {
	color: #fff;
	background-color: #53d690;
	text-transform: capitalize;
	padding: 5px 13px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
}
.job-dt li span {
	color: #333;
	font-size: 16px;
	font-weight: 600;
}
.job_descp > p {
	color: #666666;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 20px;
}
.job_descp > p a {
	color: #04babd;
	font-weight: 600;
}
.show-hide-com {
    color: #04babd;
	font-weight: 600;
}

/* ============= skill-tags =========== */

.skill-tags {
	float: left;

	margin-bottom: 15px;

}
.skill-tags li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 10px;
}
.skill-tags li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	background-color: #f1f1f1;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 7px 15px;
	font-weight: 500;
	-webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #222222;
}
.skill-tags li a:hover {
  background: #04babd;
  color: #fff;
}

/* ========== job-status-bar ========== */

.job-status-bar {
	float: left;
	width: 100%;
}
.like-com {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.like-com li {
	display: inline-block;
	margin-right: 15px;
}
.like-com li button p {
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 500;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}
.like-com li button:hover {
	color: #04babd;
}
.like-com li button:focus {
    outline: 0;
}
.like-com li button.active {
	color: #04babd;
}
.like-com li button i {
	margin-right: 2px;
	font-size: 14px;
	position: relative;
	top: 2px;
}
.like-com li span {
	color: #ffffff;
	font-size: 13px;
	width: 30px;
	height: 30px;
	background-color: #04babd;
	line-height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	float: left;
	text-align: center;
	font-weight: 600;
	margin-left: -25px;
}
.like-com li .com {
	position: relative;
	top: -9px;
}
.like-com li .com img {
	margin-right: 10px;
}
.job-status-bar > a {
	float: right;
	color: #b2b2b2 !important;
	font-size: 14px;
	cursor: pointer;
}
.job-status-bar > a:hover {
	color: #04babd; !important;
}
.job-status-bar > a i {
	font-size: 14px;
    margin-right: 7px;
    position: relative;
    top: 1px;
}

/* =============== comment-section ============== */

.comment-section {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 3px #e4e4e4;
}
.com-btn {
    height: 50px;
    width: 100%;
	text-align: center;
}
.com-btn:focus {
    outline: 0;
}
.plus-ic {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.plus-ic i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d2d2d2;
	text-align: center;
	color: #b2b2b2;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

/* =============== comment-sec ================ */

.comment-sec {
	float: left;
	width: 100%;
}
.comment-sec ul {
	float: left;
	width: 100%;
}
.comment-sec ul li {
	float: left;
	width: 100%;
}
.comment-sec ul ul {
	padding-left: 50px;
}
.comment-list {
    display: none;
	display: table;
	padding-bottom: 30px;
}
.comment-box {
    display: none;
}
.bg-img {
	display: table-cell;
}
.bg-img img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.comment {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	padding-left: 10px;
}
.comment h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.comment img {
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.comment span {
	color: #b2b2b2;
	font-size: 14px;
	display: block;
	margin-bottom: 14px;
}
.comment p {
	color: #686868;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 20px;
}
.comment > a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
}
.comment > a.active,
.comment > a:hover {
	color: #04babd;
}
.comment > a i {
	font-weight: 600;
	margin-right: 6px;
}

/* =============== post-comment ============= */

.post-comment {
	float: left;
	width: 100%;
}
.cm_img {
	float: left;
	width: 40px;
	margin-right: 10px;
}
.comment_box {
	float: none;
}
.comment_box input {
	width: 372px;
	height: 40px;
	border: 1px solid #e5e5e5;
	background-color: #efefef;
	padding-left: 10px;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	resize: none;
}
.comment_box form button {
	float: right;
	color: #fff;
	background-color: #04babd;
	height: 40px;
	padding: 0 10px;
	text-align: center;
	font-size: 14px;
	border: 0;
	margin-left: 10px;
	cursor: pointer;
	font-weight: 600;
}

/* ============== process-comm ============= */

.process-comm {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 40px;
}
.process-comm img {
	float: none;
}

/* =============== right-sidebar ============= */

.right-sidebar {
	float: left;
	width: 100%;
}

/* ================= Messages ================ */
.message-form-btns {
    display: flex;
    justify-content: space-between;
}
.message-form-btns h3 {
    color: #000;
	font-size: 18px;
	font-weight: 600;
}
.message-form-btns h3 a {
    color: #000;
}
.message-form-btns h3 a:hover{
    color: #04babd;
}
.message-form-btns input {
    margin-left: 20px;
}
.message-form-btns button {
    background-color: #53d690;
    color: #fff;
    padding: 0px 10px 0px 10px;
    border: none;
    border-radius: 4px;
}
.message-form-btns i {
    font-size: 24px;
    background-color: #e44d3a;
    color: #fff;
    width: 33px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 4px;
	margin-right: 20px;
}
.message-form-btns input {
    margin-left: 35px;
    margin-top: 8px;
}

/* ================= sign-in ================ */

.sign-in {
	background-color: #04babd;
}
.sign-in-page {
	float: left;
	width: 100%;
	padding: 100px 0 20px 0;
}
.signin-popup {
	width: 870px;
	margin: 0 auto;
	position: relative;
}
.signin-popup:before {
	content: '';
	position: absolute;
	top: -16px;
	left: 56px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.signin-popup:after {
	content: '';
	position: absolute;
	top: -37px;
	left: 43px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.signin-pop {
	float: left;
	width: 100%;
	background-color: #fff;
	position: relative;
}
.signin-pop:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	width: 1px;
	background-color: #f0f0f0;
}
.dff-tab {
	display: none;
}
.dff-tab.current {
	display: block;
}
.cmp-info {
	float: left;
	width: 100%;
	padding: 30px 5px 20px 5px;
}
.cm-logo {
	float: left;
	width: 100%;
	padding-left: 45px;
	margin-bottom: 30px;
}
.cm-logo img {
	margin-bottom: 30px;
	height: 80px;
}
.cm-logo > p {
	color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    float: left;
    width: 100%;
}
.cmp-info > img {
	width: 50%;
	padding-left: 10px;
    float: right;
    margin-bottom: 20px;
}

/* =============== login-sec ============= */

.login-sec {
	float: left;
	width: 100%;
	padding: 30px 0;
	position: relative;
}
.login-sec:before {
	content: '';
	position: absolute;
	bottom: -15px;
	right: 70px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #fff;
}
.login-sec:after {
	content: '';
	position: absolute;
	bottom: -40px;
	right: 55px;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #fff;
}
.sign-control {
	float: left;
	width: 100%;
	text-align: right;
	padding-right: 50px;
	margin-bottom: 70px;
}
.sign-control li {
	display: inline-block;
	margin-right: -5px;
}
.sign-control li a {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	background-color: #e5e5e5;
	padding: 7px 10px;
	display: inline-block;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.sign-control li:last-child a {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.sign-control li.current a {
	background-color: #04babd;
	color: #fff;
}
.sign_in_sec {
	float: left;
	width: 100%;
	padding-right: 75px;
	padding-left: 60px;
}
.sign_in_sec.current {
	display: block;
}
.sign_in_sec h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.sign_in_sec h3:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #04babd;
}

/* ============= sign_in_sec ============= */

.sign_in_sec form {
	float: left;
	width: 100%;
}
.sn-field {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.sn-field.pd-more {
	margin-bottom: 0;
}
.sn-field.pd-more input {
	padding-left: 40px;
}
.sn-field > i {
	position: absolute;
	top: 50%;
	left: 15px;
	color: #666666;
	font-size: 16px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sn-field > span {
	position: absolute;
	top: 50%;
	right: 15px;
	font-weight: 700;
	color: #666666;
    font-size: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sign_in_sec form input {
	height: 40px;
}
.sign_in_sec form input,
.sign_in_sec form select {
	width: 100%;
	padding: 0 15px 0 40px;
	color: #b2b2b2;
	font-size: 14px;
	border:1px solid #e5e5e5;
}
.sign_in_sec form select {
	line-height: 40px;
	height: 40px;
}
.sign_in_sec form button {
	color: #ffffff;
	font-size: 16px;
	background-color: #04babd;
	padding: 12px 27px;
	border:0;
	font-weight: 500;
	margin-top: 30px;
	cursor: pointer;
}
.checky-sec {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.checky-sec.st2 small {
	font-size: 13px;
	width: 90%;
	line-height: 20px;
}
.checky-sec.st2 .fgt-sec input[type="checkbox"] + label span {
	margin-top: 3px;
}
.fgt-sec {
	float: left;
}
.fgt-sec input[type="checkbox"] {
	display: none;
} 
.fgt-sec label {
	float: left;
}
.fgt-sec input[type="checkbox"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	border:1px solid #d2d2d2;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.fgt-sec input[type="checkbox"] + label span:before {
	content: '';
	width: 7px;
	height: 7px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-size: 8px;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	background-color: #04babd;
	position: absolute;
	font-family: fontawesome;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fgt-sec input[type="checkbox"]:checked + label span:before {
	opacity: 1;
	visibility: visible;
}
.fgt-sec small {
	float: left;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}
.checky-sec > a {
	float: right;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
}

/* ======= Radio Button Styles ======= */

.fgt-sec input[type="radio"] {
	display: none;
} 
.fgt-sec label {
	float: left;
}
.fgt-sec input[type="radio"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	border:1px solid #d2d2d2;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.fgt-sec input[type="radio"] + label span:before {
	content: '';
	width: 7px;
	height: 7px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-size: 8px;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	background-color: #04babd;
	position: absolute;
	font-family: fontawesome;
	top: 49%;
	left: 49%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fgt-sec input[type="radio"]:checked + label span:before {
	opacity: 1;
	visibility: visible;
}

/* =============== footy-sec ============= */

footer {
	float: right;
	width: 100%;
	background-color: #fff;
	margin-top: calc(5% + 120px);
}
.fl-rgt {
	float: right;
	margin-top: 34px;
	padding-right: 30px;
}

/* ================== USER PROFILE =================== */
.image-container{
    max-width: 250px;
    height: auto;
    position: relative;
}
.cover-sec img {
	width: 100%;
}
.cover-sec > a {
	display: inline-block;
	color: #04babd;
	font-size: 16px;
	background-color: #fff;
	border: 1px solid #04babd;
	position: absolute;
	top: 30px;
	right: 0;
	padding: 10px 15px;
	font-weight: 600;
	margin-right: 15px;
}
.cover-sec > a i {
	padding-right: 5px;
}

/* ============= user_profile ============= */

.user_profile {
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
	margin-top: -40px;
}
.user-pro-img {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 28px;
	margin-top: -95px;
	position: relative;
}
.user-pro-img img {
    height: 250px;
    width: 250px;
    border-radius: 100px;
}
.user-pro-img .add-dp {
	position: absolute;
	top: 10px;
	left: 60%;
}
.add-dp i {
    bottom: 0;
    font-size: 14px;
    box-shadow: none;
    position: relative;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #04babd;
    padding: 12px;
    color: #ffff;
    left: 0;
    top: -5px;
}
.add-dp i:hover {
	font-size: 14px;
	border: 2px solid #fff;
    background: #04babd;
	padding: 11px;
}
.add-dp {
    margin: -16px;
    padding: 0;
}
.add-dp input[type=file] {
    opacity: 0;
    padding: 10px 0px 9px;
    display: none;
}
.user-pro-img img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	float: none;
	border: 5px solid #fff;
}
.user_pro_status {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 27px;
}
.flw-hr {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.flw-hr li {
	display: inline-block;
	margin-right: 17px;
}
.flw-hr li:last-child {
	margin-right: 0;
}
.flw-hr li a {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	padding: 11px 15px;
}
.flw-hr li a i {
	padding-right: 5px;
}
.flww {
	background-color: #53d690;
}
.hre {
	background-color: #51a5fb;
}

/* =============== flw-status ============ */

.flw-status {
	float: left;
	width: 100%;
}
.flw-status li {
	display: inline-block;
	margin-right: 50px;
}
.flw-status li:last-child {
	margin-right: 0;
}
.flw-status li span {
	color: #686868;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
	display: block;
}
.flw-status li b {
	color: #000000;
	font-size: 20px;
	font-weight: 600;
}

/* ================== social_links ============= */

.social_links {
	width: 100%;
	text-align: left;
}
.social_links li {
	width: 100%;
	padding: 15px 15px;
	border-bottom: 1px solid #e5e5e5;
	display:flex;
	justify-content: space-between;
}

.la-globe {
	color: #51a5fb;
}
.fa-facebook-square {
	color: #3b5998;
}
.fa-google-plus-square {
	color: #e2665c;
}
.fa-twitter {
	color: #1da1f2;
}
.fa-behance-square {
	color: #1769ff;
}
.fa-pinterest {
	color: #bd081c;
}
.fa-instagram {
	color: #833ab4;
}
.fa-youtube {
	color: #cd201f;
}

/* ================= user-tab-sec ============== */

.user-tab-sec {
	float: left;
	padding-top: 4px;
}
.user-tab-sec h3 {
	color: #000000;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.star-descp {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.star-descp ul li{
	margin-right: 5px!important;
}
.star-descp > a {
	float: left;
	color: #51a5fb;
	font-size: 18px;
	font-weight: 600;
	margin-left: 20px;
	text-decoration: underline;
}
.star-descp > a:hover {
	color: #51a5fb;
}
.star-descp span {
	float: left;
	color: #686868;
	font-size: 18px;
	font-weight: 600;
	margin-right: 20px;
}
.star-descp > ul {
	float: left;
}
.star-descp ul li {
	display: inline-block;
}
.star-descp ul li i {
	color: #b7ce1f;
	font-size: 16px;
}
.tab-feed {
	float: left;
	width: 100%;
	margin-bottom: 45px;
	margin-top: 20px;
}
.tab-feed ul {
	float: left;
	width: 100%;
}
.tab-feed ul li {
	display: inline-block;
	margin-right: 35px;
	text-align: center;
}
.savetext ul{
	border-bottom: none!important;
}
.tab-feed.st2 ul li {
	margin-right: 17px;
}
.tab-feed ul li:last-child {
	margin-right: 0;
}
.tab-feed ul li.active img {
	filter: grayscale(0);
}
.tab-feed ul li.active span {
	color: #04babd;
}
.tab-feed ul li img {
	float: none;
	margin-bottom: 5px;
	filter: grayscale(100%);
}
.tab-feed ul li span {
	display: block;
	color: #b2b2b2;
	font-weight: 400;
	font-size: 16px;
}
.tab-feed ul li:last-child {
	margin-right: 0;
}

/* ================ message-btn ============= */
.buddy-btn button {
    display: inline-block;
	padding: 12px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.message-btn button {
	display: inline-block;
	color: #000;
	font-size: 16px;
	background-color: #04babd;
	padding: 12px;
	font-weight: 500;
}
.message-btn button:hover {
	color: #fff;
}
.message-btn button i {
	padding-right: 5px;
}

/* ============== widget-portfolio ============== */

.wd-heady {
	float: left;
	width: 100%;
	padding: 20px 20px;
	border-bottom: 1px solid #e5e5e5;
}
.wd-heady h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.wd-heady img {
	float: right;
}
.pf-gallery {
	float: left;
	width: 100%;
	padding: 15px 15px;
}
.pf-gallery ul {
	float: left;
	width: 100%;
}
.pf-gallery ul li {
	float: left;
	width: 33.33%;
	padding: 5px;
	overflow: hidden;
}
.pf-gallery ul li:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.pf-gallery img {
	width: 100%;
}

.product-feed-tab {
	float: left;
	width: 100%;
	display: none;
}
.product-feed-tab.current {
	display: block;
}

/* =============== user-profile-ov ================ */

.user-profile-ov {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 30px 20px;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	margin-bottom: 20px;
}
.user-profile-ov h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}
.user-profile-ov h3 a {
	color: #000000;
}
.user-profile-ov i {
	color: #000000;
	font-size: 13px;
	padding-left: 5px;
}
.user-profile-ov h4 {
	font-size: 16px;
	color: #000;
	font-weight: 600;
	margin-bottom: 10px;
}
.user-profile-ov p {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
}
.user-profile-ov.st2 p {
	margin-bottom: 23px;
}
.no-margin {
	margin: 0 !important;
}
.user-profile-ov > span {
	color: #686868;
	font-size: 14px;
	float: left;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 3px;
}
.user-profile-ov ul {
	float: left;
	width: 100%;
}
.user-profile-ov ul li {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 2px;
}
.user-profile-ov ul li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
	background-color: #e5e5e5;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 10px 15px;
}

/* ============== companies-info ============== */

.companies-info {
	padding: 60px 0;
}
.company-title {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 15px;
}
.company-title h3 {
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	background-color: #fff;
	padding: 10px 15px;
}
.companies-list {
	float: left;
	width: 100%;
	margin-bottom: -30px;
}
.company_profile_info {
	float: left;
	width: 100%;
	background-color: #fff;
	text-align: center;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 30px;
}
.company-up-info {
	float: left;
	width: 100%;
	padding: 30px 0 0 0;
	border-bottom: 1px solid #e5e5e5;
}
.company-up-info img {
	float: none;
	margin-bottom: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	height: 90px;
	object-fit: cover;
}
.company-up-info h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.company-up-info h4 {
	color: #686868;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 21px;
}
.company-up-info ul {
	float: left;
	width: 100%;
}
.company-up-info ul li button {
	display: block;
	padding: 0 12px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	width: 100%;
}
.company-up-info ul li button i {
	font-size: 20px;
	position: relative;
	top: 3px;
}
.follow {
	background-color: #53d690;
}
.message-us {
	background-color: #e44d3a;
}
.hire-us {
	background-color: #51a5fb;
}
.company_profile_info > a {
	display: inline-block;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	padding: 18px 0;
}
.view-more-pro {
    color: #000;
}
.view-more-pro:hover {
    color: #04babd;
}

/* ============= search-sec ============= */

.search-sec {
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
}
.search-box {
	float: left;
	width: 100%;
	padding: 0 15px;
}
.search-box form {
	float: left;
	width: 100%;
	position: relative;
}
.search-box form input {
	width: 100%;
	height: 40px;
	background-color: #fff;
	padding: 0 15px;
	color: #b2b2b2;
	font-size: 14px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.search-box form button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #04babd;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	height: 100%;
	padding: 0 28px;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

/* ============ Menu Btn =============*/

.menu-btn {
	float: right;
	display: none;
}
.menu-btn a {
	font-size: 24px;
	color: #fff;
	display: inline-block;
	padding-top: 16px;
	padding-left: 20px;
}

/* ============= account-tabs-setting ============ */

.profile-account-setting {
}
.account-tabs-setting {
	float: left;
	width: 100%;
	padding: 70px 0;
}
.acc-leftbar {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.acc-leftbar .nav-tabs > a {
	float: left;
	width: 100%;
	background: none;
	padding: 18px 20px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 0;
	border-right: 0;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-top: 0;
}
.nav-tabs {
	border-bottom: 0;
}
.acc-leftbar .nav-tabs > a:last-child {
	border-bottom: 0;
}
.acc-leftbar .nav-tabs > a i {
	padding-right: 15px;
	font-size: 20px;
	position: relative;
	top: 2px;
	font-weight: 700;
	width: 40px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: inherit;
	color: #04babd;
	border-color: inherit;
}

/* ============= acc-setting ============ */

.acc-setting {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	box-shadow: 1px 0 4px rgba(0,0,0,0.24);
}
.acc-setting form {
	float: left;
	width: 100%;
}
.acc-setting > h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	border-bottom: 1px solid #e5e5e5;
	padding: 17px 20px;
}
.notbar {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
	position: relative;
}
.notbar h4 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.notbar p {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	width: 75%;
}
.toggle-btn {
	position: absolute;
	top: 35px;
	right: 20px	;
}
.save-stngs {
	float: left;
	width: 100%;
	padding: 30px 20px 50px 20px;
}
.save-stngs.pd2 {
	padding: 25px 20px 42px 20px;
}
.save-stngs.pd3 {
	padding: 25px 20px 25px 20px;
}
.save-stngs ul li {
	display: inline-block;
	margin-right: 17px;
}
.save-stngs ul li button {
	display: inline-block;
	color: #000000;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	padding: 0 22px;
	font-weight: 600;
	background: none;
	cursor: pointer;
}
.save-stngs ul li button:hover {
	background-color: #04babd;
	color: #fff;
	border-color: transparent;
}

/* =============== Password Update ============ */

.cp-field {
	float: left;
	width: 100%;
	margin-top: 29.4px;
	padding: 0 20px;
}
.cp-field h5 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.cp-field h5 a {
	color: #000;
}
.cpp-fiel {
	float: left;
	width: 100%;
	position: relative;
}
.cp-field input {
	height: 40px;
	padding: 0 40px;
}
.cp-field input,
.cp-field textarea {
	width: 100%;
	border: 1px solid #e5e5e5;
}
.cp-field textarea {
	padding: 20px;
	height: 115px;	
}
.cpp-fiel i {
	position: absolute;
	top: 12px;
	left: 15px;
	color: #b2b2b2;
	font-size: 16px;
}
.cp-field > p {
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	margin-top: 5px;
}

/* ============== forum-links ============= */

.forum-sec {
	background-color: #fff;
}
.forum-links {
	float: left;
	width: 100%;
}
.forum-links.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.forum-links ul li {
	display: inline-block;
	padding: 20px 0;
	margin-right: 45px;
	border-bottom: 2px solid transparent;
}
.forum-links ul li.active {
	border-color:#04babd;
}
.forum-links ul li.active a {
	color: #04babd;	
}
.forum-links ul li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
}
.forum-links-btn {
	float: left;
	width: 100%;
	text-align: center;
	display: none;
	padding: 20px 0;
}
.forum-links-btn a {
	color: #000;
	font-size: 30px;
	display: inline-block;
}

/* ================ forum-page =============== */

.forum-page {
	padding: 50px 0;
}
.forum-questions-sec {
	float: left;
	width: 100%;
}
.forum-questions {
	float: left;
	width: 100%;
	background-color: #fff;
}
.usr-question {
	float: left;
	width: 100%;
	position: relative;
	padding: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.usr_img {
	float: left;
	width: 60px;
	border-radius: 100px;
}
.usr_img img {
	width: 100%;
	height: 60px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.usr_quest {
	float: left;
	width: 90%;
	padding-left: 15px;
}
.usr_quest > h3 {
	color: #000000;
	font-size: 17px;
	font-weight: 600;
}
.react-links {
	float: left;
	width: 100%;
}
.react-links li {
	display: inline-block;
	margin-right: 30px;
}
.react-links li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
}
.react-links li a:hover {
	color: #04babd;
}
.react-links li a i {
	padding-right: 7px;
}
.react-links li:last-child {
	margin-right: 0;
}

/* ============= quest-tags ============ */

.quest-tags {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.quest-tags li {
	display: inline-block;
	margin-right: 10px;
}
.quest-tags li a {
	display: inline-block;
	color: #ffffff;
	background-color: #53d690;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 25px;
}
.quest-posted-time {
	position: absolute;
	bottom: 30px;
	right: 20px;
	color: #b2b2b2;
	font-size: 14px;
}
.quest-posted-time i {
	padding-right: 5px;
}
.pd-right-none {
	padding-right: 0;
}

/* ============ forum-post-view ============ */

.forum-post-view {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 25px 25px 0 25px;
	border-bottom: 1px solid #e5e5e5;
}
.forum-post-view .usr-question {
	border-bottom: 0;
	padding: 0;
}
.forum-post-view .usr_quest span {
	color: #b2b2b2;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 20px;
}
.forum-post-view .usr_quest span i {
	padding-right: 7px;
}
.forum-post-view .quest-tags {
	margin-bottom: 30px;
}
.forum-post-view .usr_quest > p {
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 40px;
}
.forum-post-view .comment-section {
	padding: 0;
}
.forum-post-view .comment-section > h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
.forum-post-view .comment-sec ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 23px 0;
}
.forum-post-view .comment span {
	margin-bottom: 10px;
}
.forum-post-view .comment-list {
	padding-bottom: 0;
	margin-bottom: -4px;
}
.forum-post-view .comment p {
	margin: 0;
	margin-top: 5px;
}
.forum-post-view .comment h3 {
	margin-bottom: 9px;
}
.forum-post-view .comment-sec ul li:last-child {
	border-bottom: 0;
}

/* =============== post-comment-box ============= */

.post-comment-box {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #fff;
}
.post-comment-box h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}
.user-poster {
	float: left;
	width: 100%;
}
.usr-post-img {
	float: left;
	width: 50px;
	margin-right: 15px;
}
.usr-post-img img {
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.post_comment_sec {
	float: left;
	width: 90%;
}
.post_comment_sec form {
	float: left;
	width: 100%;
}
.post_comment_sec form textarea {
	float: left;
	width: 100%;
	height: 130px;
	border: 1px solid #dce2eb;
	padding: 15px;
	resize: none;
}
.post_comment_sec form button {
	color: #ffffff;
	font-size: 14px;
	background-color: #04babd;
	padding: 10px 25px;
	border: 0;
	font-weight: 600;
	margin-top: 20px;
	cursor: pointer;
}
.com-list {
    display: none;
}

/* =============== ANIMATION LOADER =============== */

.spinner {
    margin: 0 auto 0;
    width: 80px;
    text-align: center;
    height: 80px;
    border-radius: 100px;
    background-color: #fff;
    line-height: 80px;
    border:1px solid #e1e1e1;
    cursor: pointer;
}
.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #b9b9b9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.wordpressdevlp{
	background-color: #fff;
}
.bgclr{
	background-color: #fff;
	margin-bottom: 15px;
}
.cadidatesbtn{
	position: absolute;
	left: 0;
	padding-top: 5px;
}
.cadidatesbtn button{
	background-color: #04babd;
	border:none;
	margin-top: -3px;
}
.cadidatesbtn button:hover{
	background-color: #04babd;
}
.cadidatesbtn span{ 
	background-color: #bd2e1c;
    color: #fff;
    margin-right: 10px;
    padding: .25em .5em;
    font-weight: 600;
    font-size: 12px; 
}
.wordpressdevlp i{
	color: #e86554;
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
}
.wordpressdevlp h2{
	font-size: 18px;
	font-weight: 600;
}
.cadidatesbtn i{
	color: #b2b2b2;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    text-align: center;
    margin-left: 7px;
    border-radius: 3px;
    padding: 10px;
}
.cadidatesbtn i:hover{
	background-color: #04babd;
	color: #fff;
	border:1px solid #04babd;
}
.inner{
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 10px;
}
.inner li a:hover{
	color: #04babd;
	border-bottom: 2px solid #04babd;
	padding-bottom: 9px;
}
.inner li a{
	color: #000000;
}
.posttext{
	position: absolute;
	left: 0;
}
.deatile h3{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.clrbtn a{
	background-color: #04babd;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}
.transpairentbtn a{
	color: #222;
	border:2px solid #f1f1f1;
	padding: 5px 10px 5px 10px;
}
.savetext h3{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.devepbtn .clrbtn{
	padding: 7px 20px;
}
.devepbtn a{
	color: #666666;
    border: 1px solid #b2b2b2;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    margin-right: 5px;
}
.devepbtn a:hover i{
	color: #fff;
}
.devepbtn a:hover{
	background-color: #04babd;
	color: #fff;
}
.rew-reply hr{
	margin-left: -20px;
	margin-right: -20px;
}
.rew-reply p{
	padding-left: 20px;
}
.rew-reply ul{
	padding-left: 20px;
}
.devepbtn{
	margin-top: 30px;
	padding-left: 20px;
}
.rep-thanks hr{
	margin-right: -20px;
	margin-left: -20px;
}
.profilecnd{
	margin-bottom: 0px;
}
.devepbtn i{
	color: #b2b2b2;
	font-size: 14px;
}
.appliedinfo{
	padding-left: 0;
	padding-top:20px!important;
	padding-bottom: 10px;
}
.epi2{
	padding: 0;
}
.review a{
	line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
}
.add-pic-box {
    display: inline-block;
    color: #04babd;
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 0;
    font-weight: 600;
    margin-right: 0;
	width: 100%;
}
.add-pic-box [type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
	float: left;
}
.add-pic-box [type="file"] + label {
	background: #fff;
	border: 2px solid #04babd;
	border-radius: 3px;
	color: #04babd;
	cursor: pointer;
	display: inline-block;
	font-size:15px;
	font-weight: 600;
	outline: none;
	padding: 12px 20px;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
	margin: 0;
	float: right;
	text-transform: uppercase;
}
.add-pic-box [type="file"] + label:hover {
	background: #04babd;
	color: #fff;
}
.noreview li i{
	color: #b2b2b2;
}
.review-tb{
	margin:0 0 10px;
	padding-left: 20px;
}
.noreview ul li i{
	color: #b2b2b2;
}
.mngdetl{
	border-bottom: none;
}
.post-reply{
	padding-top: 0;
	padding-bottom:0;
}
.activebidbtn i:hover{
	background-color: #04babd;
	color: #fff;
	border:none;
}
.reviewtitle h2{
	font-size: 17px;
	font-weight: 600;
}
.horiline{
	width: 118%;
    position: relative;
    left: -40px;
}
.tahnks{
	font-weight: 500;
    margin-top: 5px;
}

/* =============== MODALS =============== */

.modal-title {
    color: #fff;
    font-weight: bold;
}
.modal-body {
    padding: 20px;
}
.modal-header h3{
	font-size: 18px;
}
.modal-header{
	background-color: #04babd;
	display: block!important;
}
.modal-footer{
	display: block!important;
	border-top: none;
	padding-bottom: 30px;
}
.modal-footer button{
	font-size: 15px;
	font-weight: 500;
	background-color: unset;
	border:none;
	padding: 10px;
	border:1px solid #d2d2d2;
	border-radius: 3px;
}
.modal-footer button:hover{
	background-color: #04babd;
	color: #fff;
	border:1px solid #04babd;
}

/* =============== STOPWATCH =============== */

@media only screen and (max-width: 600px) {
    .stopwatch {
        margin: 0 auto;
    }
}
#timerContainer {
    font-weight: 300;
    margin-left: 5px;
}
.timer {
    position: absolute;
    right: 70px;
    top:130px;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}
.reset {
    width: 99%;
    padding: 20px 0;
    font-size: 24px;
    text-align:center;
    color: #fff;
    background: #04babd;
    cursor: pointer
}
.reset {
    background: #04babd;
    color: white;
    width: 33%;
    border-left: 1px solid #8cdadb;
    border-top: 1px solid #8cdadb;
}
.reset:hover {
    background: #8cdadb;
}
.lighter {
    background: #8cdadb;
}
#animateCircle.addAnimation {
    stroke-dasharray: 770;
    stroke-dashoffset: -770;
    animation: animateCircle 60s linear infinite;
    animation-play-state: paused; /* default animation is pause */
}
@keyframes animateCircle {
    from {
        stroke-dashoffset: 0;
    }
}
.defaultCircle {
    opacity: .3;
}

/* =============== POLICIES =============== */

.policy {
    color: #000;
}
.policy span {
    font-size:x-small;
    vertical-align:top;
}
.policy h1 {
    font-size: 20px;
}
.policy strong {
    font-weight: bold;
}
.policy i {
    font-style: italic;
}
.policy .blank-row {
    height: 16px !important;
}
.policy .small-row {
    height: 8px !important;
}
.policy p {
    display:list-item;
    list-style:disc inside;
    padding:0 0 0 16px;
    margin:0;
    color: #000;
    font-size: 16px;
    line-height: 16px !important;
}
.policy a {
    color: #000;
}
.signup-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 auto;
    border: 0.1em solid #000;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #04babd;
    color: #000;
    text-align: center;
    transition: all 0.2s;
}
.signup-btn:hover {
    color: #000000;
    background-color: #8cdadb;
}
@media all and (max-width:30em){
    .signup-btn {
        display: block;
        margin: 0.4em auto;
    }
}