{% extends 'base.html' %}

{% block title %}All Profiles{% endblock %}

{% block content %}
<!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Search Results</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <section class="companies-info">
        <div class="container">
            <div class="companies-list">
                <div class="row">
                    {% if is_empty %}
                        <h1>No buddies match your search</h1>
                    {% endif %}
                    {% for buddy in qs %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="company_profile_info">
                                <div class="company-up-info">
                                    <img src="{{ buddy.avatar.url }}" alt="">
                                    <h3><a href="{% url 'users:profile_detail' slug=buddy.slug sender_id=request.user.id %}" class="view-more-pro">{{ buddy.user }}</a></h3>
                                    <h4>{{ buddy.status }}</h4>
                                    <ul>
                                        <li>
                                            {% if request.user == buddy.user %}
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if buddy.user not in rel_receiver and buddy.user not in rel_sender and request.user != buddy.user %}
                                                <form action="{% url 'users:send_invite' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value="{{ buddy.pk }}">
                                                    <button type="submit" class="follow" style="border: none;"><i class="fas fa-plus pr-2"></i>Buddy Up!</button>
                                                </form>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if buddy.user in rel_receiver and request.user not in buddy.buddies.all %}
                                                <button style="border: none; color: #b2b2b2;"><i class="fas fa-running pr-2"></i>Buddies pending...</button>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if request.user in buddy.buddies.all %}
                                                <form action="{% url 'users:remove_buddy' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value="{{ buddy.pk }}">
                                                    <button type="submit" class="message-us" style="border: none;"><i class="fas fa-minus pr-2"></i>Buddy Out!</button>
                                                </form>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div><!--company_profile_info end-->
                        </div>
                    {% endfor %}
                </div>
            </div><!--companies-list end-->
            {% if is_paginated %}
                <div class="col text-center">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li><a href="?buddy_name={{ request.GET.buddy_name }}&buddy_location={{ request.GET.buddy_location }}&page={{ page_obj.previous_page_number }}">&lt;</a></li>
                        {% else %}
                            <li class="disabled"><span>&lt;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                <li><a href="?buddy_name={{ request.GET.buddy_name }}&buddy_location={{ request.GET.buddy_location }}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?buddy_name={{ request.GET.buddy_name }}&buddy_location={{ request.GET.buddy_location }}&page={{ page_obj.next_page_number }}">&gt;</a></li>
                        {% else %}
                            <li class="disabled"><span>&gt;</span></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </section><!--companies-info end-->
{% endblock %}